<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
    <div th:fragment="foot">
        <!-- Navbar -->
        <div class="w3-bar w3-black">
            <!--
            <h:outputLink value="#{request.contextPath}" styleClass="w3-bar-item w3-button w3-mobile" >Home</h:outputLink>
            <h:outputLink value="#{request.contextPath}/info/termsAndConditions.xhtml" styleClass="w3-bar-item w3-button w3-mobile">Terms and Conditions</h:outputLink>
            <h:outputLink value="#{request.contextPath}/info/privacyPolicy.xhtml" styleClass="w3-bar-item w3-button w3-mobile">Privacy Policy</h:outputLink>
            <h:outputLink value="#{request.contextPath}/info/contactUs.xhtml" styleClass="w3-bar-item w3-button w3-mobile">Contact Us</h:outputLink>
            <h:outputLink value="#{request.contextPath}/info/careers.xhtml" styleClass="w3-bar-item w3-button w3-mobile">Careers</h:outputLink>
            <h:outputText value="Copyright &#169; 2025 by www.bjmanch.com" styleClass="w3-bar-item w3-button w3-mobile"/>
            -->
            <a href="/" th:href="@{index}" class="w3-bar-item w3-button w3-mobile">Home</a>
            <a href="/info/termsAndConditions.html" th:href="@{info/termsAndConditions}" class="w3-bar-item w3-button w3-mobile">Terms and Conditions</a>
            <a href="/info/privacyPolicy.html" th:href="@{info/privacyPolicy}" class="w3-bar-item w3-button w3-mobile">Privacy Policy</a>
            <a href="/info/contactUs.html" th:href="@{info/contactUs}" class="w3-bar-item w3-button w3-mobile">Contact Us</a>
            <span class="w3-bar-item w3-button w3-mobile">Copyright @ 2025 www.bjmanch.org</span>
        </div>
        
    </div>

</body>
</html>