<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
    </head>
    <body>

    <body>

        <div th:fragment="head">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">Logo</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="collapsibleNavbar">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="#">Link</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="register/userRegister.html" th:href="@{/register}">Register</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Link</a>
                            </li>  
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Dropdown</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Link</a></li>
                                    <li><a class="dropdown-item" href="#">Another link</a></li>
                                    <li><a class="dropdown-item" href="#">A third link</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

        </div>      


        <!--       
              
        <div class="w3-bar w3-black">
            <h:outputLink value="#{request.contextPath}" styleClass="w3-bar-item w3-button w3-mobile w3-green" >Home</h:outputLink>
            <h:outputLink value="#{request.contextPath}/home/userHome.xhtml" styleClass="w3-bar-item w3-button w3-mobile"><h:graphicImage library="images" name="user-solid.jpg" alt="My Home"/></h:outputLink>
            <h:form><h:commandLink action="UserRegister" value="Register" styleClass="w3-bar-item w3-button w3-mobile"/></h:form>
            <c:choose>
                <c:when test="#{session.getAttribute('access')==null}">
                    <h:outputLink id="logInLink" value="#{request.contextPath}/login.xhtml" styleClass="w3-bar-item w3-button w3-mobile">Log In</h:outputLink>
                </c:when>
                <c:otherwise>
                    <h:outputLink value="#{request.contextPath}/logout.xhtml" styleClass="w3-bar-item w3-button w3-mobile">Log Out</h:outputLink>
                </c:otherwise>
            </c:choose>
            
            <h:form prependId="false"><h:commandLink id="createForumLink" action="CreateForum" value="Create Forum" disabled="#{session.getAttribute('access')==null}" styleClass="w3-bar-item w3-button w3-mobile"/></h:form>
            <div class="w3-dropdown-hover w3-mobile">
              <button class="w3-button">Create Survey <i class="fa fa-caret-down"></i></button>
              <div class="w3-dropdown-content w3-bar-block w3-dark-grey">
                <h:form prependId="false"><h:commandLink id="createSurveyLink" action="CreateSurvey" value="New Survey" disabled="#{session.getAttribute('access')==null}" styleClass="w3-bar-item w3-button w3-mobile"/></h:form>  
                <h:outputLink value="#{request.contextPath}/CreateSurveyFromForum/CreateSurveyFromForumIndex.xhtml" disabled="#{session.getAttribute('access')==null}" styleClass="w3-bar-item w3-button">Survey From Forum</h:outputLink>
              </div>
            </div>
            <h:outputLink value="#{request.contextPath}/nominate/nominationHome.xhtml" styleClass="w3-bar-item w3-button w3-mobile">Nominate Candidate</h:outputLink>
            
            <a href="#" class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white" title="My Account">
                <img src="https://www.w3schools.com/w3images/avatar2.png" class="w3-circle" style="height:23px;width:23px" alt="Avatar"/>
            </a>
            <h:form><h:commandButton action="#{searchMBean.processSearch()}" value="GO" styleClass="w3-bar-item w3-right w3-button" /><h:inputText value="#{searchMBean.searchPhrase}" styleClass="w3-bar-item w3-right" pt:placeholder="Search ..."/></h:form>
            <div class="w3-dropdown-hover w3-mobile">
              <button class="w3-button">Blogs <i class="fa fa-caret-down"></i></button>
              <div class="w3-dropdown-content w3-bar-block w3-dark-grey">
                <h:outputLink value="#{request.contextPath}/info/blog.xhtml" styleClass="w3-bar-item w3-button w3-mobile w3-right">View Blogs</h:outputLink>  
                <h:form prependId="false"><h:commandLink id="createBlogLink" action="CreateBlog" value="Publish Blog" disabled="#{session.getAttribute('access')==null}" styleClass="w3-bar-item w3-button w3-mobile"/></h:form>  
            </div>
            </div>
            
            <h:outputLink value="#{request.contextPath}/info/contactUs.xhtml" styleClass="w3-bar-item w3-button w3-mobile w3-right">Contact Us</h:outputLink>
            <div class="w3-dropdown-hover w3-mobile w3-right">
              <button class="w3-button">About <i class="fa fa-caret-down"></i></button>
              <div class="w3-dropdown-content w3-bar-block w3-dark-grey">
                <h:outputLink value="#{request.contextPath}/info/aboutUs.xhtml" styleClass="w3-bar-item w3-button w3-mobile">About Us</h:outputLink>
                <h:outputLink value="#{request.contextPath}/info/aboutLogo.xhtml" styleClass="w3-bar-item w3-button">About Logo</h:outputLink>
                
              </div>
            </div>
            <h:outputLink value="#{request.contextPath}/info/videos.xhtml" styleClass="w3-bar-item w3-button w3-mobile w3-right">Videos</h:outputLink>
        </div>
              
            </div>
            
          
          </body>
        -->
    </body>
</html>